<button class="btn btn-success" (click)="addUser()"> + Add New User</button>

<div style="margin-top: 20px;">
  <strong>Users</strong>
</div>
<table class="table table-bordered" style="margin-top: 10px;">
  <thead>
    <tr>
       <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <td width=275 align="center">Action</td>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let user of wdrUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td width=275>

            <div *ngIf="authority === 'ManagerData'">
              <button type="submit" class="btn btn-info" (click)="view(user)">Details</button> &nbsp;&nbsp;
              <button class="btn btn-success" (click)="editUser(user)">Edit</button>&nbsp;&nbsp;
              <button class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
            </div>

            <div *ngIf="authority === 'OC'" style="margin-left: 100px;">
              <button class="btn btn-success" (click)="editUser(user)">Edit</button>&nbsp;&nbsp;
            </div>

        </td>
     </tr>
  </tbody>
</table>
