<section class="content-header" style="margin-left: 2%">
    <ol class="">
        <h3  class="active text-primary" >Archive Dekandal Form Report Data
           <small>page</small>
           <button class="btn btn-primary no-print" (click)="dekandal()" style="margin-left: 3%">
              <i class="fa fa-plus"></i>
                Add Archive Dekandal
              </button>
              <button  class="btn btn-primary no-print" style="margin-left: 3%"><i class="fa fa-print"></i> PRINT</button>
        </h3>
    </ol>
  </section>
      <div class="tab" style="margin-left: 5%">
          <div class="mat-elevation-z8">
            <mat-card style="margin-bottom: 5%;">
              <div>
                <div class="box-header">
                   <h3>Archive dekandal Report</h3>
                 </div>
                 <div class="table-hover table-responsive" >
                    <table id="example1" class="table  table-bordered" style="overflow: auto">
                      <thead class="thead-dark">
                        <tr>
                          <th>No.</th>
                          <th>Date</th>
                          <th>Station </th>
                          <th>Station No</th>
                          <th>MAX</th>
                          <th>MIN</th>
                          <th>DRY BULB</th>
                          <th>WET BULB</th>
                          <th>DEW POINT</th>
                          <th>RELATIVE HUMIDITY</th>
                          <th>DIRECTION</th>
                          <th>SPEED</th>
                          <th>RAINFALL</th>
                          <th>DRY BULB</th>
                          <th>WET BULB</th>
                          <th>DEW POINT</th>
                          <th>RELATIVE HUMIDITY</th>
                          <th *ngIf="authority === 'Data Officer' || authority === 'Senior Data Officer'">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dekandal of archivedekandal | paginate: { itemsPerPage: count, currentPage: p }">
                          <td>{{dekandal.id}}</td>
                          <td>{{dekandal.Date | slice:0:10}}</td>
                          <td>{{dekandal.station}}</td>
                          <td>11223</td>
                          <td>{{dekandal.MAX_TEMP}}</td>
                          <td>{{dekandal.MIN_TEMP}}</td>
                          <td>{{dekandal.DRY_BULB_0600Z}}</td>
                          <td>{{dekandal.WET_BULB_0600Z}}</td>
                          <td>{{dekandal.DEW_POINT_0600Z}}</td>
                          <td>{{dekandal.RELATIVE_HUMIDITY_0600Z}}</td>
                          <td>{{dekandal.WIND_DIRECTION_0600Z}}</td>
                          <td>{{dekandal.WIND_SPEED_0600Z}}</td>
                          <td>{{dekandal.RAINFALL_0600Z}}</td>
                          <td>{{dekandal.DRY_BULB_1200Z}}</td>
                          <td>{{dekandal.WET_BULB_1200Z}}</td>
                          <td>{{dekandal.DEW_POINT_1200Z}}</td>
                          <td>{{dekandal.RELATIVE_HUMIDITY_1200Z}}</td>
                          <td *ngIf="authority === 'Data Officer' || authority === 'Senior Data Officer'">
                            <button  type="button" class="btn btn-primary" name="button" (click)= "editdekandal(dekandal.id)" ><i class="fa fa-edit"></i>Edit</button>
                           </td>
                         </tr>
                      </tbody>
  
                    </table>  
                 </div>
                 <div class="text-right">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
              </mat-card>
              </div>
        </div>
  
  