<mat-card style="width: 700px; margin-left: 250px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate style="width: 400px; margin-left: 150px;">
        <span><h3><strong>User Registration Form</strong></h3></span>
      <div class="form-group" style="margin-top: 10px;">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
        <div *ngIf="f.submitted && name.invalid" class="text-danger">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid" class="text-danger">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && email.invalid" class="text-danger">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid" class="text-danger">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">User Role</label>
        <div *ngIf="authority === 'Manager Data'">
            <select class="form-control" name="roles[]" [(ngModel)]="form.roles" #roles="ngModel" required>
                <option selected>--Select Role--</option>
                <option>OC</option>
                <option>Senior Zonal Officer</option>
                <option>Zonal Officer</option>
                <option>Senior Data Officer</option>
                <option>Data Officer</option>
                <option>Observer</option>
                <option>Observer Archive</option>
                <option>Manager Station Networks</option>
                <option>Weather Analyst</option>
                <option>Weather Forecaster</option>
              </select>
        </div>
        <div *ngIf="authority === 'OC'">
            <select class="form-control" name="roles[]" [(ngModel)]="form.roles" #roles="ngModel" required>
                <option selected>--Select Role--</option>
                <option>Observer</option>
                <option>Observer Archive</option>
              </select>
        </div>
        
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Register</button>
      </div>
    </form>
</mat-card>
