
<div class="container" style="margin-left: 12%; margin-bottom: 10%;">
  <div class=" col-lg-8">
  <mat-card>
  <form>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Form</span>
    </div>
      <input type="text" class="form-control" aria-label="form" aria-describedby="basic-addon1" value="MetarReport" readonly= "readonly" required>
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Station</span>
    </div>
      <select type="text"   required class="form-control" placeholder="select station" >
        <option>select station</option>
        <option value="Kampala"></option>
      </select>
  </div>
  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Date</span>
    </div>
      <input type="date" required class="form-control" placeholder="select Date" >
           
  </div>
  <div class="form-group">
      <span class="input-group-text" id="basic-addon1">Description</span>
      <textarea type="text"  class="form-control" ></textarea>
           
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Select file to upload</span>
    </div>
      <input type="file" required class="form-control" accept="image/gif,image/jpg,image/png,image/jpeg,.pdf,.doc,.xlsx,.ppt,.xls" size="40">
           
  </div>
  <p>Lighter file is better</p>
  <br />
  <div class="input-group mb-3" >
      <span class="btn btn-danger" (click) ="back()">
          <i class ="fa fa-arrow-left"></i>
          BACK
        </span> 
        <button type="submit" class="btn btn-success" style=" margin-left:70% ;">
          <i class="fa fa-plus"></i>
          UPDATE</button>
   </div>
  
  </form>
  </mat-card>
  </div>
  </div>
  >
  
  