

// dotted underline
u.dotted-line {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}

#contentToConvert {
  margin: 2em 2em;
  padding: 2em 2em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}